


.btn {
  padding: 8px 15px 5px 15px;
  border: none;
  font-family: $base-font-family;
  font-weight: 600;
  text-transform: uppercase;
   @include anti-aliaze();

  &.btn-default {
    background-color: $light-grey;
    color: $grey;


  }

  &.btn-primary {
    background-color: $teal30;
    color: $white;
    @include box-shadow(0, 3px, 0, 0, $teal20);

    &:hover,
    &.hover {
      background-color: $teal20;
      @include box-shadow(0, 3px, 0, 0, $teal10);
    }

    &:active,
    &.active {
      background-color: $teal10;
      @include box-shadow(0, 3px, 0, 0, $teal10);
    }

    &[disabled],
    &.disabled {
      background-color: $teal40;
      @include box-shadow(0, 3px, 0, 0, $teal50);
    }
  }
}

.comment-form input[type="submit"],
button,
input[type="submit"] {
  @extend .btn;
}
