@function font-url($path) {
  @return url(#{$text-font-path}#{$path});
}

@mixin font-face(
  $name,
  $path,
  $name-concat,
  $weight: normal,
  $style: normal
) {
  $path: $text-font-path + $path;
  @font-face {
    font-family: #{$name};
    src:  url('#{$path}.eot');
    src:  url('#{$path}.eot?#iefix') format('eot'), 
          url('#{$path}.woff') format('woff'),
          url('#{$path}.ttf') format('truetype'),
          url('#{$path}.svg##{$name-concat}') format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin anti-aliaze() {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

@mixin borderRadius($topLeft, $topRight, $bottomRight, $bottomLeft) {
  -webkit-border-top-left-radius: $topLeft;
  -webkit-border-top-right-radius: $topRight;
  -webkit-border-bottom-right-radius: $bottomRight;
  -webkit-border-bottom-left-radius: $bottomLeft;

  -moz-border-radius-topleft: $topLeft;
  -moz-border-radius-topright: $topRight;
  -moz-border-radius-bottomright: $bottomRight;
  -moz-border-radius-bottomleft: $bottomLeft;

  border-top-left-radius: $topLeft;
  border-top-right-radius: $topRight;
  border-bottom-right-radius: $bottomRight;
  border-bottom-left-radius: $bottomLeft;
}


@mixin box-shadow($xOffset, $yOffset, $blur, $spread, $color) {
  -moz-box-shadow: $xOffset $yOffset $blur $color;
  -webkit-box-shadow: $xOffset $yOffset $blur $color;
  box-shadow: $xOffset $yOffset $blur $color;
}