.red-brand {
  background: #CD0923;
  font-weight: 700;
  font-size: 24px;
  padding: 18px 25px;
  margin-right: 18px;
  transition: 0.5s all ease;

  & span {
    color: #fff;
  }
}

.navbar-nav>li {
  &:hover {
    transition: 0.5s all ease;
  }
  &>a {
    transition: 0.5s all ease;
  }
}

#search {
  transition: 0.5s all ease;
  &::-webkit-input-placeholder,
  :-moz-placeholder,
  ::-moz-placeholder,
  :-ms-input-placeholder {
    transition: 0.5s all ease;
  }
}

header {

  .container>.navbar-header .red-brand {
    margin-left: 0px;
  }

  .navbar {
    border-radius: 0;
    margin-bottom: 0;
    background-color: #000;
    transition: 0.5s all ease;
    &.shrink {
      min-height: 20px;
      max-height: 20px;
      .red-brand {
        padding-top: 3px;
        padding-bottom: 17px;
        font-size: 18px;
        height:20px;
      }
      .navbar-nav>li>a {
        padding-top: 3px;
        padding-bottom: 1px;
        font-size: 12px;
      }
      .navbar-nav>li:hover {
        height: 20px;
      }
      .sub-menu>li {
        font-size: 12px;
      }
      #search {
        margin-top: 0;
        padding: 0 0 0 5px;
        height: 19px;
        &::-webkit-input-placeholder,
        :-moz-placeholder,
        ::-moz-placeholder,
        :-ms-input-placeholder{
          font-size: 12px;
        }
      }
    }
  }
}

.navbar-nav {

  &>li {
    &:hover {
      background-color: #222;
    }
    &>a {
      color: $light-grey;
      font-size: 15px;
      padding-top: 18px;
      padding-bottom: 11px;
      @include anti-aliaze();

      .fa {
        font-size: 12px;
        margin-left: 10px;
        padding-top:2px;
      }
    }
    &.current_page_item > a,
    &.current_page_parent > a {
      color: $white;
    }
  }

  .sub-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
    overflow: hidden;
    background-color: $black;
    position: absolute;
    min-width: 100%;

    a {
      display: block;
      text-transform: none;
      font-weight: 200;
      letter-spacing: 0;
      font-size: 1em;
      padding: 10px 15px 8px 15px;
      white-space: nowrap;
      color: $medium-grey;

      &:hover {
        background-color: #222;
        color: $white;
      }
    }

    .current-menu-item > a {
      color: $white;
    }
  }
}

.red-header {
  background-color: $ultra-grey;
  min-height: $page-header-height;
  margin-bottom: 40px;

  .byline.author.vcard {
    margin-top: 35px;
  }

  .search-form {
    position: relative;
  }

  .search-field {
    background-color: $white;
    border: 1px $grey solid;
    color: $dark-grey;
    font: $body-font;
    width: 296px;
    height: 35px;
    margin-right: 5px;
    @include borderRadius(0px,0px,0px,0px);
  }
}
