/* HOME page styles for article excepts */



.single p.byline.author a { color: $REDD-red; }


.entry-summary {

	padding-top: 0px;
	padding-bottom: 10px;
	margin-bottom: 0px;
	//border-bottom: 1px solid $light-grey;

}

.caption .entry-summary {

	border-bottom: none;

}

.caption h3 { 
		font-family: $headline; 
		line-height: 1.2em;
		font-weight: 600;
		margin-top: 5px;
		margin-bottom: 0px;
		font-size: 30px;
		text-transform: none;
	
		a {
      font-family: $headline;
      color: $dark-grey;

      &:hover {
        color: $REDD-red;
        text-decoration: none;
      }
    }

	 }

	.thumbnail { 

		border: none; 
		padding: 0;
		margin: 0;

	}


// SINGLE Article styles

.single header {
	background: $ultra-grey;
}

.single {
	p { font: $article-font; }
}

h1.entry-title {
	font-size: 42px;
	font-weight: bold;
	font-family: $headline;
	margin-top: 0px;
  margin-bottom: 10px;
 }

 .single article {
 	margin-top: 20px;
 }

 .category-list {
 	display: inline-block;
 	margin-bottom: 20px;

 	a {color: $medium-grey; }
 }


 //Page styles
 .page-content {

    h2 {
      font-weight: bold;
      margin: 0 0 0 0;
    }

    h3 {
      font-size: 1.4em;
      font-weight: bold;
      margin: 5px 0 0 0;
      text-transform: none;
    }

    h4 {
      font-size: 1em;
      font-weight: bold;
      margin: 5px 0 0 0;
      text-transform: uppercase;
    }

 }


 //Sidebar style
 .project-info-header {
 	font-weight: bold;
 	text-transform: uppercase;
 	margin-bottom: 40px;
 }

 h4.project-header {
 	text-transform: capitalize;
 	margin: 20px 0 0px 0;
 	font: $article-font;
 	font-weight: 600;

  &.links {
    border-top: 1px solid $light-grey;
    padding-top: 30px;
    margin-bottom: 10px;
  }
 }

 p.project-content {
 	margin-bottom: 40px;

  &.links {
    margin-bottom: 5px;
  }

 }

 h4.project-content {
  text-transform: capitalize;
 }

// Davis changes
.wp-tag-cloud {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;

  li {
  margin: 0 1px 5px 0 !important;
  display: inline-block;

    & a {
      @extend .btn;
      box-shadow: none;
      background-color: $light-grey;
      color: $low-grey;
    }
  }
}

.home-research-section {
  background-color: #ffffff; // #F8F8F8;
  padding-top: 1%;
  margin-top: 1%;
}

.newsletter-bar {
  background-color: #F8F8F8;
}

.interactive-design {
  background-color: #F8F8F8;
  padding: 20px 0 30px 0;
}

h3.row-title {
  font-family: $h3headline;
  color: $teal30;
  font-weight: bold;
  margin-bottom: 30px;
}

.red-about-us {

  h3.row-sub-title {
    font-family: $h3headline;
    color: $dark-grey;
    font-weight: bold;
    margin: 40px 0 5px 0;
  }

}

.newsletter-bar {
  margin: 60px 0 0 0;
  padding: 20px 0 30px 0;

  h3 {
    font-weight: bold;
  }
}
